
body{
    background-color: black;
    color: rgb(210, 210, 210);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(99, 99, 99);
}

li {
    list-style: none;
}

.work-experience ul li::before {
    content: "📌";
  }

h1 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100vh;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-photo img{
    border-radius: 50%;
    width: 250px;
    border: 5px solid rgb(74, 74, 74);
}

.hello {
    font-size: 30px;
    text-align: center;
}


.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.about-me-description {
    margin: 0 25px 0;
}

.contacts {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-bottom: 15px;
}

.icon:hover {
    opacity: 50%;
}

.location {
    font-size: 30px;
}

.skills {
    background: linear-gradient(90deg, rgb(147, 255, 176) 0%, rgb(125, 187, 201) 100%);
    color: black;
}

.code-example {
    position: relative;
    background-color: rgb(18, 18, 18);
}

.code-doggy {
    position: absolute;
    bottom: 0;
    right: 0;
}

.rounded-block {
    border-radius: 20px;
    padding: 10px 40px;
    margin: 0 25px 15px;
}

.divider{
    border-bottom: 2px solid rgba(255, 255, 255, 0.295);
}

.skills-list {
    column-count: 3;
  }

.list-item:hover {
    color: rgb(99, 99, 99);
    cursor: pointer;
}

.list-item::before {
    content: "✔️";
}

.icon-name {
    display: flex;
    align-items: center;
}

.icon-name img{
    margin-right: 10px;
}

footer {
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github-icon{
    width: 50px;
    height: 50px;

}

.github-icon g {
    fill: white;
}

.github-icon:hover  g{
    fill: rgb(97, 97, 97);
}

.rs-school {
    width: 120px;
}

#Layer_1 {
    fill: white;
}

.profession-title {
    color: transparent;
    --tw-gradient-to: #2563eb;
    --tw-gradient-from: #4ade80;
    --tw-gradient-to: rgba(48, 2, 255, 0.817);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    -webkit-background-clip: text;
    background-clip: text;
}

.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 45%; */
    opacity: 75%;
    padding: 10px;
}

.portfolio-item-img {
    width: 480px;
    height: 360px;
    object-fit:cover;
}

.portfolio-item:hover{
    opacity: 100%;
    border: rgb(101, 101, 101) solid 2px;
    border-radius: 10px;
}

.portfolio {
    display: flex;
}

/*==================
768px <= width < 1280px
==================*/
@media screen and (max-width: 1279px) {

    .portfolio {
        flex-direction: column;
        align-items: center;
    }

    .portfolio-item {
        /* width: 100%; */
    }

    .portfolio-item-img {
        width: 100%;
    }

    .skills-list {
        column-count: 1;
    }

    .code-example {
       display: none;
    };

}


@media screen and (max-width: 767.9px) {

    .rounded-block {
        margin: 0 10px;
        padding: 10px 30px;
    }


}
